.mainMenuButton {
	margin-top: 10px;
	border-radius: 5px;
	width: 70%;
}

.mainMenuButtonList {
	text-align: center;
}

.tableHead {
	background-color: #cccccc;
}


ons-row.gradeTableHead {
    background-color: #cccccc;
    padding: auto; 
    text-align: center;
    width: 40em;
}

ons-col.gradeTableHead {
    background-color: #cccccc;
    padding: auto; 
    text-align: center;
    width: 40em;
}

.gradeTableItem {
    padding: auto;
    text-align: center;
    width: 40em;
}

.gradeTableItem ons-input {
    text-align: center;
    border: 1px solid #ccc;
}

ons-button {
    border-radius 5px;
    width: 50%;
}

ons-col {
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  padding: 4px;
  color: #999;
}

ons-list-item.listItem {
	background-color: #eeeeee;
    margin-bottom: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ons-row.listItem {
	background-color: inherit;

}

.listItem ons-col {
    background-color: inherit;
	border-top: none;
	border-bottom: none;
	padding: 0px;

}

.listItem ons-col:first-child {
	border-left: none;
	border-right: 1px solid #ddd;
}

.listItem ons-col:last-child {
	border-left: 1px solid #ddd;
	border-right: none;
}

.listHead {
    background-color: inherit;
    color: #000;
}

.listHead ons-col {
	background-color: inherit;
	border-top: none;
    border-left: none;
    border-right: none;
	border-bottom: 1px solid #000;
	padding: 0px;
    margin-bottom: 1px;
    color: inherit;
}


.page__content {
  background-color: #f6f6f6;
  padding: 8px;
}

h3 {
  color: #666;
  font-size: 17px;
}

.textInput {
	text-align: center;
    margin: auto;
}

.attendanceCheckbox {
    margin: auto;
    text-align: left;
    width: 70%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.attendanceCheckbox ons-checkbox {
    float: right;
}

.attendanceCheckbox ons-switch {
    float: right;
}

#activeDisplay {
    margin-right: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 16px;
}
